<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>Insert People</title>
        <link href="styles.css" rel="stylesheet">
    <!-- put css/js here if necessary-->
    </head>

    <body>
        <header>
            <section id="navbar_buttons">
                <div id="n1"><a href="http://localhost:3000/index.html" name="home">Home</a></div>               
                <div id="n1"><a href="http://localhost:3000/display" name="display">Display</a></div>
                <div id="n2"><a href="http://localhost:3000/search" name="search">Search</a></div>
                <div id="n3"><a href="http://localhost:3000/insert" name="insert">Insert</a></div>
                <div id="n4"><a href="http://localhost:3000/update" name="update">Update</a></div>
                <div id="n5"><a href="http://localhost:3000/delete" name="delete">Delete</a></div>
            </section>
        </header>
        <main>
            <h1>Insert Person into Database</h1>

            <form id="insertform" method="post" action="/insert">
                <span>
                    To add a person, you must upload a picture with
                    the new person and an existing person.<br><br>
                    Name of person you are adding:<br>
                    <input type="text" name="new_name" placeholder="full first and last name" ><br><br>
                    Name of person that they are pictured with: <br>
                    <input type="text" name="existing_name" placeholder="full first and last name" ><br><br>
                    .jpg file of photo <br>
                    <input type="file" name="newimg" accept="image/jpg" >
                </span>
                <button id="insertbtn" class="ylwbtn" >Insert!</button>
            </form>
            <!--
                new_name
                existing_name
                newimg
            -->

        </main>
    </body>
</html>